name: Main

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

permissions:
  contents: read

jobs:
  build-test-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
        with:
          sbt-runner-version: 1.11.7
      - name: Check Scala linting
        run: sbt scalafmtCheck
      - name: Install prettier
        run: yarn install
      - name: Check linting with prettier
        run: ./node_modules/.bin/prettier --check .
      - name: Run tests
        run: sbt test
      - name: Build public directory
        run: sbt buildPublic
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy public --project-name=moviequiz
